html {
font-family: Tahoma;
}

/*HEADER*/

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 64px;
}

.logo {
  display: flex;
  align-items: center;
  padding: 24px;
}

nav {

}

ul {
  display: flex;
  flex-direction: row;
  padding-right: 24px;
}

li {
  display: flex;
  justify-content: space-around;
  padding-left: 16px;
}

/*BANNER*/

.banner {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: lightgrey;
}

.banner-main {
  display: flex;
  width: 60%;
  padding: 32px 24px;
}

#banner-img {
  width: 100%;
}

.banner-content {
  width: 40%;
  align-items: center;
}

.banner-content h1,
.banner-content h2 {
  padding-left: 16px;
  padding-right: 100px;
}

.banner-content h1 {
  padding-top: 100px;
}

.button {
  margin-left: 16px;
  margin-right: 100px;
  margin-top: 50px;
  text-align: center;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: darkgrey;
}

/*FEATURES*/

.features {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.features-main {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 32px 24px;
}

#features-img {
  width: 100%;
}

.features-list {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.story {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 168px;
  padding: 16px;
}

.story-img {
  width: 35%
}

.story-img img {
  width: 100%;
}

.story-text {
  width: 65%;
  padding: 16px;
}

/*LEARN*/

.learn {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: lightgrey;
}

.learn-heading {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 32px;
}

.catalog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 32px;
}

.course {
  width: 30%;
  margin: 16px;
  background-color: white;
}

.course img {
  width: 100%;
}

.course .description {
  padding: 16px;
}

/*EXHIBIT*/

.exhibit {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.exhibit-heading {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 32px;
}

.exhibit-content {
  display: flex;
  flex-direction: row;
}

.exhibit-list {
  width: 40%;
}

.exhibit-video {
  width: 60%;
  padding: 24px;
}

video {
  width: 100%;
}


/*FOOTER*/

footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

footer span {
  padding: 24px;
}
